html,
body {
  font-family: "Hanken Grotesk", sans-serif;
  height: 100%;
}

/* container */
.container {
  height: 100%;
  /* agar mau ketengah tengah halaman, berikan height 100% */
}

.container #card-model {
  box-shadow: 20px 20px 55px -35px hsla(256, 72%, 46%, 0.4);
}

/* card baris pertama */

/* kode dibawah ini untuk membagi 2 text dengan cara pada span pertama diberi ukuran yang besar dan display block, lalu margin-bottom nya digunakan untuk menarik kembali span yang kedua. */
.card .baris-1 p.result span:nth-child(1) {
  font-size: 75px;
  font-weight: 700;
  display: block;
  margin-top: -10px;
  margin-bottom: -115px;
}

.card .baris-1 p.result {
  width: 165px;
  height: 165px;
  line-height: 165px;
  border-radius: 50%;
  margin: 18px auto;
  padding: 3px;
  box-sizing: border-box;
}

/* card-body */
.card-body .reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.card-body p span#results {
  font-weight: 700;
}

.card-body p span#total {
  color: hsla(224, 30%, 27%, 0.5);
}

#reaction {
  color: hsl(0, 100%, 67%);
  font-weight: 700;
}

.card-body .memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}

#memory {
  color: hsl(39, 100%, 56%);
  font-weight: 700;
}

.card-body .verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}

#verbal {
  color: hsl(166, 100%, 37%);
  font-weight: 700;
}

.card-body .visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}

#visual {
  columns: hsl(234, 85%, 45%);
  font-weight: 700;
}

.card-body button.btn {
  background-color: hsl(224, 30%, 27%);
  color: white;
}

.card-body button.btn:hover {
  /* background-color: hsl(252, 100%, 67%); */
  background: linear-gradient(to top, hsla(256, 72%, 46%, 1), hsl(252, 100%, 67%));
}
